:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --verde:#66CC00;
    --gris:#333333;
    --text: #999999;
    --azul:#0066CC;
    --grisc:#555555;
    --verdem:#33CC33;
    --compl:#FFFF33 ;
}


html {
    font-size: 62.2%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
   background-color:var(--oscuro);
}

.servicios, .navegacion-principal, .formulario{
    scroll-snap-align: center;
        scroll-snap-stop: always;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: size 16px;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--gris) 0%, var(--oscuro) 100%);
}

h1 {
    font-size: 3.8rem;
    color: var(--verde);
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}